body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  max-height: 50vh;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(aliceblue, lavender);
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 12px;
  width: 50%;
  height: 90vh;
  text-align: center;
  align-self: center;
  justify-self: center;
  font-family: 'Lato', sans-serif;
}

/* Dropdown Wrapper */
.dropdown-wrapper {
  box-shadow: 0 0px 2px 0;
  background-color: #F8F8F8;
  overflow: hidden;
  min-height: 48px;
  align-self: center;
  width: 60%;
}

.dropdown {
  overflow: auto;
  max-height: 100%;
}

/* Dropdown Heading + Selected */
.dropdown-heading {
  display: flex;
  padding: 12px;
}

.dropdown-heading:hover {
  cursor: pointer;
  background-color: #EDEDED;
}

.dropdown-selected-container {
  display: flex;
  flex-wrap: wrap;
}

.dropdown-selected {
  display: flex;
  align-items: center;
  padding: 8px;
  margin: 6px;
  background-color: lavender;
  border: 1px solid black;
}

.dropdown-selected-x {
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  font-weight: bold;
  padding-left: 8px;
}

.dropdown-selected-x:hover {
  cursor: pointer;
}

/* Dropdown List */
.dropdown-list-item {
  display: flex;
  align-items: center;
  padding: 0px 16px;
  text-align: start;
}

.dropdown-list-item:hover {
  cursor: pointer;
  background-color: lavender;
}

.dropdown-list-item-icon {
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-radius: 50%;
  border: 1px solid black;
}

/* Dropdown Select Options */
.dropdown-select-options {
  display: flex;
  justify-content: center;
}

.dropdown-select-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.dropdown-select-item {
  font-weight: 600;
  padding: 8px;
  width: 50%;
  border-bottom: 1px solid #777777;
}

/* Dropdown Arrow Icon */
.arrow-wrapper {
  padding: 8px;
  margin-left: auto;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  padding: 3px;
}

.open {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.closed {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}